@model DigitusTestCase.WebAPP.ViewModels.ReportViewModel
<div class="container">
    <div class="row">

        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Listing By Time Range</h5>
                    <p class="card-text" id="time-range">@Model.ListingByTimeRange</p>

                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sent Verification Code But Did Not Register After</h5>
                    <p class="card-text" id="register-after">@Model.SentVerificationCodeButDidNotRegisterAfter</p>

                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Complete Login Average</h5>
                    <p class="card-text" id="login-average">@Model.CompleteLoginAverage</p>

                </div>
            </div>
        </div>


    </div>
</div>